body {
    font-family: Verdana, Geneva, sans-serif;
    color: #111;
    font-size: 8.2pt;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    background: #fff;
    line-height: 13pt;
}

.print {
    display: block;
    margin: auto;
    width: 8.5in;
    line-height: 40pt;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 11pt;
    margin-bottom: 60px;
    text-decoration: none;
    color: #000;
    background: #eee;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.print:hover {
    background: #fff;
}

.resume {
    margin: auto;
    width: 7.6in;
    padding: 0.4in;
    border: 1px solid #ddd;
    page-break-before: always;
    margin-bottom: 40px;
    margin-top: 20px;
    background: url('../texture.png');
}

@page {
    margin: 0.4in;
}

p {
    margin: 0;
    margin-top: 5px;
}

ul {
    margin: 0;
    margin-top: 1px;
}

li {
    position: relative;
    margin-left: -23px;
}

header.intro h1 {
    font-weight: normal;
    margin: 0;
    padding: 0;
    line-height: initial;
}

header.intro h2 {
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    line-height: initial;
}

header.intro .address {
    float: right;
}

header.intro .address>div {
    display: inline-block;
}

header.intro .address-left {
    margin-right: 50px;
}

header.intro .title {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

header.intro {
    overflow: auto;
}

section.section .title {
    margin-top: 25px;
    font-size: 10pt;
    vertical-align: top;
    padding-right: 20px;
    font-weight: bold;
    white-space: nowrap;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 2px solid #ccc;
}

section.section .block .date {
    float: right;
    margin-left: 20px;
}

section.section .block .quote {
    border-left: 1px solid #ccc;
    padding-left: 10px;
}

.container-flex {
    display: flex;
}

.block-flex {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
    flex-grow: 1;
}

.block-flex:last-child {
    margin-right: 0;
}

.tags {
    margin: 5px 0;
}

.tags span {
    border: 1px solid #ccc;
    background: rgba(0, 0, 0, .08);
    padding: 2px 4px;
    border-radius: 8px;
    display: inline-block;
    margin-top: 5px;
    white-space: nowrap;
}

.tags .group {
    background: transparent;
    border: 0px;
}

.tags .group::after {
    content: ":";
}

.important {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    font-style: italic;
}

.footer {
    margin-top: 20px;
}

.footer .right {
    text-align: right;
}

@media only screen and (max-width: 8.5in) {
    .resume, .print {
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
    }
    .resume {
        padding: 20px;
    }
    header.intro .address {
        float: none;
    }
    header.intro .title {
        width: 100%;
    }
    header.intro h2 {
        font-size: 15px;
    }
    .container-flex, .block-flex {
        display: block;
    }
    .block-flex {
        margin-right: 0;
    }
    header.intro .address-left {
        margin-right: 20px;
    }
    .footer .right {
        text-align: left;
    }
}

@media only screen and (max-width: 500px) {
    header.intro h2 {
        font-size: 9pt;
    }
}

@media print {
    body {
        margin-top: 0;
    }
    .print {
        display: none;
    }
    .resume {
        border: 0;
        margin: auto;
        padding: 0;
        margin: 0;
        background: #fff;
    }
    .hide-print {
        display: none;
    }
}
